.container-form-contact {
  max-width: 600px;
}

.body-form-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ajusta el width según tus necesidades */
}

.msg-contact {
  height: 250px;
}

form {
  width: 100%; /* Asegura que el formulario tome el 100% del contenedor */
}

.msg-contact {
  height: 250px; /* Ajusta la altura del textarea */
}

textarea.form-control {
  resize: none; /* Desactiva el redimensionamiento manual del textarea */
}